<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupservlet</servlet-name>
        <servlet-class>signupservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletlogin2</servlet-name>
        <servlet-class>servletlogin2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attendance</servlet-name>
        <servlet-class>attendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>marks</servlet-name>
        <servlet-class>marks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mail</servlet-name>
        <servlet-class>mail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attendance2</servlet-name>
        <servlet-class>attendance2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attendance3</servlet-name>
        <servlet-class>attendance3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>marks2</servlet-name>
        <servlet-class>marks2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>marks3</servlet-name>
        <servlet-class>marks3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mail2</servlet-name>
        <servlet-class>mail2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mail3</servlet-name>
        <servlet-class>mail3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupservlet</servlet-name>
        <url-pattern>/signupservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletlogin2</servlet-name>
        <url-pattern>/servletlogin2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attendance</servlet-name>
        <url-pattern>/attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>marks</servlet-name>
        <url-pattern>/marks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mail</servlet-name>
        <url-pattern>/mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attendance2</servlet-name>
        <url-pattern>/attendance2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attendance3</servlet-name>
        <url-pattern>/attendance3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>marks2</servlet-name>
        <url-pattern>/marks2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>marks3</servlet-name>
        <url-pattern>/marks3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mail2</servlet-name>
        <url-pattern>/mail2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mail3</servlet-name>
        <url-pattern>/mail3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
